body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.logo-studio {
  color: #2e2f42;
  text-decoration: none;
}
.studio-link:hover {
  color: #404bbf;
}
.contacts-link {
  color: #434455;
  font-style: normal;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  word-wrap: break-word;
}
.page-tittle {
  color: white;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
}
.tittle-background {
  background-color: #2e2f42;
}

.button-text {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.button-text:hover {
  background-color: #404bbf;
}
.button-text:focus {
  background-color: #404bbf;
}
.nav-menu {
  color: #2e2f42;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  word-wrap: break-word;
}
.studio-link {
  text-decoration: none;
  color: #2e2f42;
}
.studio-link:focus {
  color: #404bbf;
}
.our-team-background {
  background-color: #f4f4fd;
}
.portfolio-background {
  background-color: #f4f4fd;
}
.address-link {
  color: #434455;
  text-decoration: none;
}
.address-link:hover {
  color: #404bbf;
}
.address-link:focus {
  color: #404bbf;
}
.tittle-strategy {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text-strategy {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.our-team-tittle {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.our-team-list-item {
  background-color: #ffffff;
}
.designer-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text-designer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.potrfolio-tittle {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.portfolio-list-item-tittle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-list-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer-text {
  background-color: #2e2f42;
}
.logo-web-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.logo-studio-footer {
  color: #f4f4fd;
}
.text-footer-p {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
.menu {
  list-style-type: none;
}
